<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ADD LESSON</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
</head>
<body>
	<div class="container  " style="padding: 7% 15%;">
			<a class="btn btn-danger mb-4" href="trainerHome" role="button">Back</a>
			<div class="card p-5  border border-dark text-dark " style="background-color:#BDBDBD">
			<div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
				<h3>Add New Lesson</h3>
				<form action="/addLesson" method="post">
					<div class="form-group">
					    <label for="exampleInputEmail1">Course ID</label>
					    <input type="number" name="courseId" class="form-control" id="exampleInputCouserID" aria-describedby="emailHelp" placeholder="Enter Couser ID" required>
  					</div>
					<div class="form-group">
					    <label for="exampleInputEmail1">Lesson ID</label>
					    <input type="number" name="lessonId" class="form-control" id="exampleInputCouserID" aria-describedby="emailHelp" placeholder="Enter Lesson ID"required>
  					</div>
  					<div class="form-group">
					    <label for="exampleInputEmail1">Lesson Name</label>
					    <input type="text" name="lessonName"  class="form-control" id="exampleInputCouserID" aria-describedby="emailHelp" placeholder="Enter Lesson Name"required>
  					</div>
  					<div class="form-group">
					    <label for="exampleInputEmail1">Lesson Topics</label>
					    <input type="text" name="lessonTopic"  class="form-control" id="exampleInputCouserID" aria-describedby="emailHelp" placeholder="Enter Lesson Topic"required>
  					</div>
  					<div class="form-group">
					    <label for="exampleInputEmail1">Video Link</label>
					    <input type="text" name="lessonLink"  class="form-control" id="exampleInputCouserID" aria-describedby="emailHelp" placeholder="Enter Video Link"required>
  					</div>
  					<button type="submit" class="btn btn-primary">Add Lesson</button>
				</form>
			</div>
		</div>
</body>
</html>